//Montserrat
@font-face {
    font-family: Montserrat-Regular;
    src: url(./Montserrat/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: Montserrat-Bold;
    src: url(./Montserrat/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: Montserrat-Medium;
    src: url(./Montserrat/Montserrat-Medium.ttf);
  }

//AveriaSerifLibre
@font-face {
    font-family: AveriaSerifLibre-Regular;
    src: url(./Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf);
  }

  @font-face {
    font-family: AveriaSerifLibre-Bold;
    src: url(./Averia_Serif_Libre/AveriaSerifLibre-Bold.ttf);
  }

  @font-face {
    font-family: AveriaSerifLibre-BoldItalic;
    src: url(./Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.ttf);
  }
  @font-face {
    font-family: AveriaSerifLibre-Light;
    src: url(./Averia_Serif_Libre/AveriaSerifLibre-Light.ttf);
  }
  @font-face {
    font-family: AveriaSerifLibre-LightItalic;
    src: url(./Averia_Serif_Libre/AveriaSerifLibre-LightItalic.ttf);
  }