@import "../../../Fonts/fonts.scss";
.webPageDetail{
    margin: 0 10px 10px 10px;

    h1{
        font-size: 2em;
        font-family: Montserrat-Medium;
        padding-bottom: 1em;
    }
    h2{
        font-size: 1.5em;
        font-family: Montserrat-Medium;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    p, ul>li, table, .tableBoxSmall, .tableBoxBig{
        font-family: Montserrat-regular;
        font-size: 1.2em;
        line-height: 2em;
        
    }

    table {
        tr{
            border-bottom: 1px solid black;
        }
        td:first-child{
            font-size: 1.2em;
            font-family: Montserrat-Medium;
        }
        
    }

    .tableBoxSmall {
       
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        .tbrWraper{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .tbr{
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: flex-start;
                border-bottom: 1px solid black;
            
                .tbd:first-child {
                    font-size: 1.2em;
                    font-family: Montserrat-Medium;
                    text-align: right;
                }
            }
        }
    }

    .tableBoxBig {
        
        display: flex;
     
        //flex-wrap: wrap;
        align-items: flex-start;
        .tbClWraper{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        .tbd{
            display: flex;
            border-bottom: 1px solid black;
            
        }    
        
    }
        .tbClWraper:first-child{
            .tbd{
                justify-content: flex-end;
            }
        }
        .tbClWraper:first-child{
                font-size: 1.2em;
                font-family: Montserrat-Medium;
                text-align: right;
            }
        
    }

    @media only screen and (max-width: 675px) {
        .tableBoxBig{
            display:none;
        }
    }
    @media only screen and (min-width: 676px) {
        .tableBoxSmall{
            display:none;
        }
    }

    
}