@import "../Fonts/fonts.scss";
@import '../Colors.module.scss' ;

.logo{
    display: flex;
    align-items: end;
    flex-grow:1;

    span{
        padding: 1em;
        font-size: 2em;
        font-family: AveriaSerifLibre-light;
        display: inline-block;
    }
}

.homeNav{
    font-family: Montserrat-Medium;
    display:flex;
    flex-direction: column;
    /* height: 85vh; */
    justify-content: space-evenly;
    align-items: center;
    order: 1;
    flex-grow: 1;

    nav{
        display: flex;
        flex-grow:2;
        align-items: start;
        //margin-bottom: 96px;
        ul{
            display: flex;
        /*     flex-direction: column; */
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            transition: flex-direction 2s;
        /*   border-left: 1px solid black; */

            li{
                &>:first-child{
                    order:1;
                }
                display:flex;
              /*   flex-direction: row; */
                flex-direction: column;
                align-items:center;
                justify-content: center;
            /*   padding:1em; */
                /* border: 1px solid black; */
                svg{
                    margin-top: 0.2em;
                }    

                a {
                    color: black;
                    text-decoration: none; /* no underline */
                    padding:1.8em 1.5em 1.8em 1.5em;
                    display: block;
                    border-radius: 5%;
                    flex-grow:1;
                }
                
                a:hover{
                    background-color: $niceWhite;
                    
                }
            }
            li:hover{
                background-color: none;
            }
        }
        ul:nth-child(1){
            order:1;
        }

        ul.homeIcons{
            padding-right: 0.5em;
            justify-content: space-around;
            padding-left: 1.5em;
        }
    }
}

.navBar{
    display: flex;
    nav{
        display: flex;
        ul{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            a {
                color: black;
                text-decoration: none; /* no underline */
                padding:2em 1.5em 2em 1.5em;
                display: block;
                border-radius: 5%;
                
            }
            
            a:hover{
                background-color: $niceWhite;
                
            }
        }
    }
    .wordNav{
        display: none;
    }
}

